@import url('https://fonts.googleapis.com/css2?family=Alata&family=Homenaje&family=Volkhov&display=swap');

h1{
 text-align: center;
 font-family: 'Dr Sugiyama' ;
 font-weight: normal;
 font-size: 40px;
 margin:20px;
 padding: 0px;
 transform: translate(-0%, 50%)

}

 h2 {
	text-align: center;
  font-family: 'Homenaje', sans-serif;
  font-weight: normal;
  font-size: 10px;
  margin:0px
}

body {
 text-align: center;
 font-family: 'Homenaje', sans-serif;
 font-weight: normal;
 font-size: 18px;
 margin:30px
}

p {
  text-align: left;
  font-family: 'Courier';
  font-weight: normal;
  font-size: 18px;
  margin:30px;
  padding: 0px;
  display: inline-block;
}

h5 {

  text-align: left;
  font-family: 'Homenaje';
  font-weight: normal;
  font-size: 22px;
  margin:0px;
  padding: 0px
}

.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Homenaje', sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: white;	}



#mainMenu {

	width:100%;
  font-size: 12px;
	font-family: 'Homenaje';
	position: relative;
	text-align: center


}
#mainMenu li {
	display: inline-block;
	width:110px;
	margin-left:0px;
	border:0px ;
	position: center;
}

.mainMenu ul {
	text-align: center;}

#mainMenu a {
	display:block;
	padding:0px;
	text-decoration:none;
	background-color:#fff;
	color:#7E7E7E;
	text-align: center
}

#mainMenu a:hover {
	background-color:#FFFFFF;
	color:#DC6A6A;
	font-weight: 600;}


#mainMenu a::before {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;

}



    .navbar {
      background-color: #F0F8FF
    }
    .navbar-brand, .navbar-nav, .NavDropdown .nav-link {
      color: #F0F8FF;
      font-size: 18px;
    	font-family: 'Homenaje';
    	position: relative;
    	text-align: center;



      &:hover {
        color:white;
      }

    }




    img {
       height: 500px;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
position: relative;
 margin: auto;
    }
