@import url('https://fonts.googleapis.com/css2?family=Alata&family=Homenaje&family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

h1{
 text-align: center;
 font-family: 'Dr Sugiyama' ;
 font-weight: normal;
 font-size: 40px;
 margin:0px;
 padding: 0px;
 transform: translate(-0%, 50%)

}

 h2 {
	text-align: center;
  font-family: 'Homenaje', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin:0px
}

body {
 text-align: center;
 font-family: 'Homenaje', sans-serif;
 font-weight: normal;
 font-size: 18px;
 margin:0px
}

p {
  text-align: left;
  font-family: 'Courier';
  font-weight: normal;
  font-size: 18px;
  margin:00px;
  padding: 0px;
  display: inline-block;
}

h5 {

  text-align: left;
  font-family: 'Homenaje';
  font-weight: normal;
  font-size: 22px;
  margin:0px;
  padding: 0px
}

.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Homenaje', sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: white;	}



#mainMenu {

	width:100%;
  font-size: 12px;
	font-family: 'Homenaje';
	position: relative;
	text-align: center


}
#mainMenu li {
	display: inline-block;
	width:110px;
	margin-left:0px;
	border:0px ;
	position: center;
}

.mainMenu ul {
	text-align: center;}

#mainMenu a {
	display:block;
	padding:0px;
	text-decoration:none;
	background-color:#fff;
	color:#7E7E7E;
	text-align: center
}

#mainMenu a:hover {
	background-color:#FFFFFF;
	color:#DC6A6A;
	font-weight: 600;}


#mainMenu a::before {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;

}



    .navbar {
      background-color: #F0F8FF
    }
    .navbar-brand, .navbar-nav, .NavDropdown .nav-link {
      color: #F0F8FF;
      font-size: 18px;
    	font-family: 'Homenaje';
    	position: relative;
    	text-align: center;



      &:hover {
        color:white;
      }

    }




    img {
       height: 600px;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
position: relative;
 margin: auto;

    }

    .slide {
      height: 400px;
     width: 100%;
     object-fit: cover;
     object-position: middle;
position: relative;
margin: auto;
   }
   @media (min-width: 581px) {
    .slide {
      width: 100%;
      height: 600px;
padding: 5px;
    }
  }
  @media (min-width: 1181px) {
    .slide {
      height: 800px;
padding: 5px;



    }
  }
/*  Street carousel - not active atm */

  .street {
    height: 400px;
   width: 100%;
   object-fit: fit;
   object-position: middle;
position: relative;
margin: auto;
 }
 @media (min-width: 581px) {
  .street {
    width: 100%;
    height: 600px;
padding: 5px;
  }
}
@media (min-width: 1181px) {
  .street {
    height: 800px;
padding: 5px;
  }
}
.intro{
  text-align: center;
  font-family: 'Abel' ;
  font-weight: normal;
  font-size: 20px;
  margin:70px;
  padding: 30px;
  transform: translate(-0%, 0%);
   color: #302f2f;
   
 }
 @media (min-width: 581px) {
  .intro {
    text-align: center;
    font-family: 'Abel' ;
    font-weight: normal;
    font-size: 20px;
    margin:70px;
    padding: 30px;
    transform: translate(-0%, 0%);
     color: #302f2f;
     position: center;
  }
}
@media (min-width: 1181px) {
  .intro {
    text-align: center;
    font-family: 'Abel' ;
    font-weight: normal;
    font-size: 20px;
    margin:70px;
    padding: 30px;
    transform: translate(-0%, 0%);
     color: #302f2f;
  }
}
 

.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #89A84F;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;

  }
 @media (min-width: 581px) {
  .footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #89A84F;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
@media (min-width: 1181px) {
  .footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #89A84F;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}


.payment{
  
  width: 300px;
  position: center;
  text-align: center;
  margin: 0 auto;
  

}
@media (min-width: 581px) {
.payment {
  
  width: 700px;
  position: center;
  text-align: center;
  margin: 0 auto
}
}
@media (min-width: 1181px) {
.payment {
 
  width: 800px;
  position: center;
  text-align: center;
  margin: 0 auto
}
}